<div class="footer-container">
  <div class="info-text">Made by Shahraj Singh</div>
  <div class="contact">
    <p class="contact-header-text">Call</p>
    <span class="context-subheader-text"> +1 902-989-5192 </span>
  </div>
  <div class="contact">
    <p class="contact-header-text">Write</p>
    <a href="mailto:shahraj@outlook.com" class="context-subheader-text"
      >shahraj@outlook.com</a
    >
  </div>
  <div class="contact">
    <p class="contact-header-text">Connect</p>
    <div class="social-icon-container">
      <img
        class="social-icon"
        src="assets/icons/linkedin.svg"
        alt="linkedin"
        (click)="routeSocial('linkedin')"
      />
      <img
        class="social-icon"
        src="assets/icons/instagram.svg"
        alt="instagram"
        (click)="routeSocial('instagram')"
      />
      <img
        class="social-icon"
        src="assets/icons/whatsapp.svg"
        alt="whatsapp"
        (click)="routeSocial('whatsapp')"
      />
    </div>
  </div>
</div>
